<h1 class="subheader" style="padding-left:20px">New user_info</h1>

<div class="row full-width">
	<div class="large-9 columns large-offset-1">
		<%= render 'form' %>

		<%= link_to 'Back', user_infos_path, class: "button radius", style: "margin-left: 93%" %>
	</div>

	<div class="large-2 columns"></div>
</div>

<br>