<div id="<%=asset%>_Modal" class="reveal-modal" style="display: none; -webkit-transform-origin: 0px 0px;
							opacity: 1; -webkit-transform: scale(1, 1); visibility: hidden;">
	<h2><%=asset%></h2>
	<svg id="<%=asset%>_Modal_SVG" style="height:600px;"></svg>
	<a class="close-reveal-modal">×</a>
</div>