// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.full-width{
 	max-width:98%;
 }

$blue: #3bbfce;

.has_chart:hover{
	color: $blue;
}

#admin_buttons_homepage{
	background-color: #B8B8B8;
}

#admin_buttons_homepage:hover{
	background-color: #888888 ;
}